 @model hellodoc.DbEntity.ViewModels.RequestFormModal

<Partial name="_Notification" />
<div class="login">

    <button class="bg-transperant dark-btn btn btn-outline-info rounden-3" onclick="darkmode()"> <i class="bi bi-moon fs-4 m-1"></i></button>

    <div class="row">
        <div class="d-grid gap-2 col-12 mx-auto p-4 bimgall d-flex justify-content-center align-items-center"
             style="height: 100vh; flex-direction: column;">


            <img src="/images/Fig56._Patient_site_1-removebg-preview.png" alt="" class="mx-auto mb-2">


            <div class=" d-grid gap-2 col-12  mx-auto pt-5">
                <a asp-action="send_request" asp-controller="Patient" class="d-flex back-btn text-info p-1 fs-4 text-decoration-none">
                    <span class="material-icons pt-1 pe-2">chevron_left</span>Back
                </a>

                <h3 class="mx-auto pt-2">Login to your account</h3>
                <form method="post" asp-action="PatientLogin" asp-controller="login">
                    <div class="form-floating mt-2">
                        <input asp-for="UserEmail" class="form-control" id="floatingInput" placeholder="Username">
                        <label>Username</label>
                        <span asp-validation-for="UserEmail" class="text-danger"></span>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label>Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="Conform_password" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                        <label>Confirm Password</label>
                        <span asp-validation-for="Conform_password" class="text-danger"></span>

                    </div>
                    <div class=" d-grid gap-2">
                        <button class="btn btn-info mt-3 pb-2 pt-2 text-white fs-5" type="submit"> Login</button>
                        <a asp-controller="login" asp-action="forgot_password" class="mx-auto mt-3 text-info fs-5">Forgot Password</a>
                    </div>

                </form>
            </div>

            <div class="d-flex col-12 p-5 justify-content-center " style="position:fixed;bottom:0">
                <a href="" style="color: rgb(108, 106, 101);">Terms Of Conditions</a> |
                <a href="" style="color: rgb(108, 106, 101);">Privacy Policy</a>
            </div>

        </div>

    </div>
</div>


@section Scripts {
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
}