@{
    ViewData["Title"] = "Patient dashboard";
}
@model hellodoc.DbEntity.ViewModels.PatientReqModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    <div class="login" id="main">
        <Partial name="_Notification" />
        <partial name="_header" />

        <ul class="nav nav-underline mx-3 mt-2">
            <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#dashboard" onclick="GetPatientView({ actionType : 'patient_dashboard'});">Dashboard</a>
            </li>
            <li class="nav-item mx-3">
            <a class="nav-link " data-bs-toggle="pill" href="#profile" onclick="GetPatientView({ actionType : 'patient_profile'});">Profile</a>
            </li>
        </ul>

        <div id="patientViews"></div>

    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    GetPatientView({ actionType: "patient_dashboard" });

    function GetPatientView(DataObject) {

        $.ajax({
            url: '/Patient/GetPatientView',
            type: 'Post',
            data: DataObject,
            success: function (data) {
                $('#patientViews').html(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function savedoc() {

        var formdata = new FormData();
        var fileupload = document.getElementById('file1');
        var f = fileupload.files[0];
        formdata.append('Doc', f);
        formdata.append('actionType', 'upload_doc');

        $.ajax({
            url: '/Patient/PatientUpdateData',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                toastr.success(data);
                GetPatientView({ actionType: 'patient_documents' });
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

</script>
