
        <partial name="_RHeader" />

        <div class="row">
            <div class="d-grid gap-2 col-12 col-sm-12 col-md-6 col-lg-4 mx-auto d-flex flex-column">

        <a asp-action="send_request" class="d-flex align-self-end btn btn-outline-info bg-body mt-4 text-info fs-5 text-decoration-none">
            <span class="material-icons pt-1">
                chevron_left
            </span>
            <span>Back</span>
        </a>

                <h3 id="t1" class="mx-auto pt-5"> I am a ...</h3>

                <div class=" d-grid gap-2 col-12  mx-auto pt-3">
                    <a asp-action="patient_request" class="sr-btn1 p-3 mt-2" style="text-decoration:none">PATIENT</a>
                    <a asp-action="friend_request" class="sr-btn2 p-3 mt-2" style="text-decoration:none">FAMILY / FRIEND</a>
                    <a asp-action="concierge_request" class="sr-btn3 p-3 mt-2" style="text-decoration:none">CONCIERGE</a>
                    <a asp-action="business_request" class="sr-btn4 p-3 mt-2" style="text-decoration:none">BUSINESS PARTNERS</a>
                </div>

            </div>
            <footer class="bg-black">
                <div style="position:fixed;bottom:0">
                    <a href="" style="color: white;">Terms Of Conditions</a> |
                    <a href="" style="color: white;">Privacy Policy</a>
                </div>
            </footer>
        </div>


