
        <partial name="_RHeader" />

<div id="patientViews">
    <div class="row" style="height:90vh">
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-6 col-lg-4 mx-auto d-flex flex-column">

            <div class="d-flex justify-content-end">
                <a asp-action="send_request" class=" btn btn-outline-info bg-body mt-4 fs-5 text-decoration-none">
                    <i class="bi bi-chevron-left"></i> Back
                </a>
            </div>
            

            <h3 id="t1" class="mx-auto pt-5"> I am a ...</h3>

            <div class=" d-grid gap-2 col-12  mx-auto pt-3">
                <button onclick="GetPatientView({actionType:'patient_request'})"   class="sr-btn1 p-3 mt-2 text-decoration-none">PATIENT</button>
                <button onclick="GetPatientView({actionType:'friend_request'})"    class="sr-btn2 p-3 mt-2 text-decoration-none">FAMILY / FRIEND</button>
                <button onclick="GetPatientView({actionType:'concierge_request'})" class="sr-btn3 p-3 mt-2 text-decoration-none">CONCIERGE</button>
                <button onclick="GetPatientView({actionType:'business_request'})"  class="sr-btn4 p-3 mt-2 text-decoration-none">BUSINESS PARTNERS</button>
            </div>

        </div>
    </div>
</div>


<script>

    function GetPatientView(DataObject) {

        $.ajax({
            url: '/Patient/GetPatientView',
            type: 'Post',
            data: DataObject,
            success: function (data) {
                console.log(1)
                $('#patientViews').html(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>

       


