@{
    ViewData["Title"] = "send-request";
}

<Partial name="_Notification" />

    <div class="login" >
         <button class=" bg-transperant dark-btn btn btn-outline-info rounden-3" onclick="darkmode()"> <i class="bi bi-moon fs-4 m-1"></i></button>

        <div  class="row" >
            <div class="d-grid gap-2 col-md-0 col-lg-6 col-12 col-sm-12 lb-img">
            <img src="/images/11116016_415-removebg-preview.png" alt="" style="height:100vh;background-color:#b3ecfffc;" id="limg" class="lb-img w-100">
            </div>
            <div class="d-grid gap-2 col-12 col-sm-12 col-md-12 col-lg-6 mx-auto bimg d-flex justify-content-center align-items-center flex-column"
                 style="height: 100vh;">
              
                <img src="/images/Fig56._Patient_site_1-removebg-preview.png" alt="" class="mx-auto mb-2">

                <div class=" d-grid gap-2 col-12  mx-auto pt-5">
                    <a asp-action="request" class="sr-btn1 col-8 p-3 mt-4 mx-5 mx-auto  link link-underline-opacity-0 text-white bg-info border-0 text-decoration-none">Submit A Request</a>
                    <a asp-controller="Login" asp-action="index" class="sr-btn1 col-8 mx-auto p-3 mt-4 mx-5 text-white border-0 text-decoration-none" style="background-color: rgb(38, 38, 96);">Registered Patients</a>
                </div>
              
                <div class="d-flex col-12 p-5 justify-content-center " style="position:fixed;bottom:0">
                    <a href="" style="color: rgb(108, 106, 101);">Terms Of Conditions</a> |
                    <a href="" style="color: rgb(108, 106, 101);">Privacy Policy</a>
                </div>

            </div>
           
        </div>
    </div>

   