@model hellodoc.DbEntity.ViewModels.PopUpModal.BlockCaseModal

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">
            <form method="post" asp-action="BlockCase" asp-route-requestid=@Model.Requestid>
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel"> Confirm Block</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p class="mb-2 mt-3 text-black"> Patient Name : <span class="text-info">@Model.PatientName</span></p>

                    <textarea asp-for="@Model.Blocknotes" rows="5" class="col-12 form-control mt-3" placeholder="please provide a brief explanation for your cancelation" style="font-size:medium" class="p-1"></textarea>
                    <span asp-validation-for="Blocknotes" class="text-danger"></span>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white">Continue</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>