

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">

                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel"> Select Type Of Care </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    
                    <div class="d-flex justify-content-center">

                    <button class="btn btn-outline-info me-2" id="housecall" onclick="enccounterradio('housecall')"> HouseCall</button>
                    <button class="btn btn-outline-info me-2" id="consult" onclick="enccounterradio('consult')"> Consult</button>
                    </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" onclick="loadActionView1({ActionType:'Encounter',requestid : @ViewBag.requestid})">Save</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>

        </div>
    </div>
</div>
<script>
    var calltype = "";
    var othercalltype = ""
    function enccounterradio(clickType) {
        if (clickType == "housecall") {
            calltype = "HouseCall";
            othercalltype = "consult";

        } else {
            calltype = "Consult";
            othercalltype = "housecall";
        }
        var h = document.getElementById(clickType);
        h.classList.remove("btn-outline-info");
        h.classList.add("btn-info", "text-white");

        var c = document.getElementById(othercalltype);
        c.classList.remove("btn-info", "text-white");
        c.classList.add("btn-outline-info");
    }
</script>