

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel"> Encounter Form </h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Encounter Form is already finalized!!</h6>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-info text-white" asp-action="download_encounter"> Download </a>
                </div>
            </div>
        </div>
    </div>
</div>
