@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">
            
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel"> Select Location</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                   <div id="map" class="w-100 m-2" style="height: 400px;"></div>
                </div>
                
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        var map = L.map('map').setView([23.046099, 72.536492], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function onMapClick(e) {
            var coord = e.latlng;
            var lat = coord.lat;
            var lng = coord.lng;
            console.log(lat);
            document.getElementById('Lat').value = lat;
            document.getElementById('Lang').value = lng;
        }

        map.on('click', onMapClick);

    });

</script>



@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }