@model hellodoc.DbEntity.ViewModels.PopUpModal.SendLinkModal

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">
            <form id="form1" method="post" asp-action="send_link">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel"> Send mail to Patient for submit a request </h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" asp-for="Firstname" placeholder="Firstname">
                        <label>Firstname</label>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" asp-for="Lastname" placeholder="Lastname">
                        <label>Lastname</label>
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                        <label>Phone</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" asp-for="MailEmail" placeholder="Email">
                        <label>Email</label>
                       <span asp-validation-for="MailEmail" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white">Continue</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
