@model hellodoc.DbEntity.ViewModels.ChatModal

<input type="text" id="SenderAspid" asp-for="SenderAspId" hidden />
<input type="text" id="ReciverAspid" asp-for="ReciverAspId" hidden />
<input type="text" id="sentFrom" asp-for="sentFrom" hidden />

<div class="offcanvas offcanvas-end " tabindex="-1" id="canvas" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header text-white bg-info">
        <div class="">
            <img src="../images/avatar.png" height="50" width="50" class="rounded-5 m-2" />

            <span class="fs-5">@Model.Name</span>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList">
                    @{
                        if (Model.messages.Count() > 0)
                        {
                            foreach (var m in Model.messages)
                            {
                                <li class="message">@m.Message1</li>
                            }
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="col-5"><input type="text" asp-for="Name" id="userInput" hidden /></div>
        <div class="d-flex w-100" style="position:fixed;bottom:15px;">
            <div class="col-3"><input type="text" class="form-control" placeholder="Type Your Message Here..." id="messageInput" /></div>
            <div><button class="btn btn-info text-white mx-2" id="sendButton" onclick="sendMessage('@Model.requestid')"><i class="bi bi-send"></i></button></div>
        </div>
    </div>
</div>
<script src="../js/chat.js"></script>