@{
    ViewData["Title"] = "Patient dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestCountByStatus
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<Partial name="_Notification" />
<Partial name="_header">


    @* <div class="collapse navbar-collapse" id="navbarSupportedContent">*@
    <ul class="nav nav-underline mt-2 mx-2 shadow-sm" id="mydashboard">
        <li class="nav-item mx-2">
            <a class="nav-link" data-bs-toggle="pill" href="#dashboard">Dashboard</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#invoicing">Invoicing</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#scheduling">My Scheduling</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#myprofile">My Profile</a>
        </li>
    </ul>


    <div id="mainDashContent" class="bgcolor1"></div>

    <div id="partialContainer"></div>


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    
    <script>
        $(document).ready(function () {

            $('#mydashboard a').on('shown.bs.tab', function (e) {
                var targetTab = $(e.target).attr('href').substring(1);
                loadPartialDashView(targetTab);
            });
            //if (localStorage.getItem("DashTab") != null) {
            //    loadPartialDashView(localStorage.getItem("DashTab"), true);
            //} else {
            //    
            //}
            loadPartialDashView("dashboard");
        });


        function loadPartialDashView(tabId, ptab) {

            if (ptab == true) {
                tabId = localStorage.getItem("DashTab");
            }
            var element = document.querySelectorAll('[href="#' + tabId + '"]');
            element.forEach(a => {
                a.classList.add('active');
            });

            $.ajax({
                url: '/ProviderDashboard/LoadPartialDashView',
                type: 'GET',
                data: { tabId: tabId },
                success: function (data) {
                    $('#mainDashContent').html(data);

                    if(tabId == "scheduling"){
                        ShiftCalender("month");
                    }

                    localStorage.setItem("DashTab", tabId);
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }

        function loadPartialView(tabId, page, search, regionid) {

            var element = document.querySelectorAll('[href="#' + tabId + '"]');
            element.forEach(a => {
                a.classList.add('active');
            });

            $.ajax({
                url: '/LoadDashState/LoadPartialView',
                type: 'GET',
                data: { tabId: tabId, pageNumber: page, search: search, regionid: regionid,provider : true },
                success: function (data) {
                    $('#tabledata').html(data);
                    localStorage.setItem("StatusTab", tabId);
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });

        }
    </script>
    <script src="./js/AdminProviders.js" asp-append-version="true"></script>
    @section Scripts {
        @{
            <Partial name="_ValidationScriptsPartial" />
        }
    }
