@{
    ViewData["Title"] = "Provider dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestCountByStatus
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<Partial name="_Notification" />
<Partial name="_header">


    <div class="collapse navbar-collapse d-md-block" id="navbarSupportedContent">
        <p class="m-2 pt-2 d-block d-md-none">Welcome <strong>@HttpContextAccessor.HttpContext.Session.GetString("username")</strong></p>
        <div class="d-md-flex justify-content-between">
        <ul class="nav nav-underline mt-2 mx-2 d-grid d-md-flex shadow-sm" id="mydashboard123">
        <li class="nav-item mx-2">
            <a class="nav-link" data-bs-toggle="pill" href="#dashboard">Dashboard</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#invoicing">Invoicing</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#scheduling">My Scheduling</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#myprofile">My Profile</a>
        </li>
    </ul>

    </div>
    </div>
    <div id="mainDashContent" class="bgcolor1"></div>

    <div id="partialContainer"></div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/ProviderDashboard.js" asp-append-version="true"></script>
    <script src="/js/AdminProviders.js" asp-append-version="true"></script>
    
    <script>
        
        $(document).ready(function () {
            localStorage.setItem("loginAccount", "Provider");
            // Bind event handler to tab switch event
            $('#mydashboard123 a').on('shown.bs.tab', function (e) {
                var targetTab = $(e.target).attr('href').substring(1);
                loadPartialDashView(targetTab);
            });

            loadPartialDashView("dashboard");
        });


        function loadPartialDashView(tabId, ptab) {

            var element = document.querySelectorAll('[href="#' + tabId + '"]');
            element.forEach(a => {
                a.classList.add('active');
            });

            $.ajax({
                url: '/ProviderDashboard/LoadPartialDashView',
                type: 'GET',
                data: { tabId: tabId },
                success: function (data) {
                    $('#mainDashContent').html(data);

                    if(tabId == "scheduling"){
                        ShiftCalender("month");
                    }

                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }

        function loadPartialView(tabId, page, search, regionid, requesttype ){

            if (requesttype != 0 && requesttype != null) {
                tabId = localStorage.getItem("StatusTab");
            }

            var element = document.querySelectorAll('[href="#' + tabId + '"]');
            element.forEach(a => {
                a.classList.add('active');
            });

            $.ajax({
                url: '/LoadDashState/LoadPartialView',
                type: 'GET',
                data: { tabId: tabId, pageNumber: page, search: search, regionid: regionid, provider: true, requesttype: requesttype },
                success: function (data) {
                    $('#tabledata').html(data);
                    localStorage.setItem("StatusTab", tabId);
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });

        }

        function DBActions(dataObject){

            $.ajax({
                url: '/ProviderDashboard/'+dataObject.actionType,
                type: 'GET',
                data: dataObject,
                success: function (data) {
                    $('#myModal').modal('hide');
                    toastr.success("Mail Sent To Admin Successfully");
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }

    </script>
    
    @section Scripts {
        @{
            <Partial name="_ValidationScriptsPartial" />
        }
    }
