@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">
            <img src="/images/Fig56._Patient_site_1-removebg-preview.png" alt="" class="req-logo">
        </a>


        <div class="d-flex">
            <p class="m-2 pt-2">Welcome <strong>@HttpContextAccessor.HttpContext.Session.GetString("username")</strong></p>

            <a asp-action="send_request"
               class="m-2 btn btn-outline-info" style="text-decoration:none;font-size:larger;">
                <i class="bi bi-box-arrow-right d-block d-sm-none d-md-none d-lg-none d-xl-none"></i>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> Logout </span>
            </a>



            <button class="m-2 bg-light text-info" onclick="darkmode()"
                    style="border: 1px solid #0dcaf0;border-radius: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                     class="bi bi-moon night-mode-icon mt-2 mb-2 mx-2" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>

        </div>

    </div>
</nav>
