@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2> Scheduling  </h2>
            <button class="btn btn-info text-white"><i class="bi bi-chevron-left"></i>Back</button>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4">

            <div class="d-flex justify-content-between mt-3">
                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" onchange="fetchRegion()" id="region">
                        <option selected>All Region</option>
                        @*@{
                        foreach (var a in Model.regions)
                        {
                        <option value="@a.Regionid">@a.Name</option>
                        }
                        }*@
                    </select>
                </div>
                <div>
                    <button class="btn btn-info text-white mx-1">Providers On Call</button>
                    <button class="btn btn-info text-white mx-1">Shifts For Review</button>
                    <button class="btn btn-info text-white mx-1">Add new Shift</button>
                </div>
            </div>

            <div class="m-2 fs-5 fw-bold" id="datediv">
                date here
            </div>

            <div class="m-2 d-flex justify-content-end">
                <div class="d-flex">
                    <div class="rounded-3 mx-1" style="height:25px;width:50px;background-color:pink"></div> 
                    <div class="mx-1">Pendig Shifts</div>
                    <div class="rounded-3 mx-1" style="height:25px;width:50px;background-color:lightgreen"></div>
                    <div class="mx-1">Approved Shifts</div>
                </div>
            </div>

            <div class="m-2 d-flex justify-content-between">
                <div class="d-flex">
                    <button class="mx-2 bg-info rounded-5 d-flex justify-content-center align-items-center" style="height:30px;width:30px;border:none;" onclick="previousCalendar()"><i class="bi bi-chevron-left"></i></button>
                    <button class="upload-btn-wrapper bg-transparent fs-5 border-0" onclick="showcalender()">
                        <i class="bi bi-calendar-week"></i>
                        <input type="month" id="month-input" onchange="monthchange()"/>
                    </button>
                    <button class="mx-2 bg-info rounded-5 d-flex justify-content-center align-items-center" style="height:30px;width:30px;border:none;" onclick="nextCalendar()"><i class="bi bi-chevron-right"></i></button>
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-info mx-1" onclick="ShiftCalender('2024','3','day');">Day</button>
                    <button class="btn btn-outline-info mx-1" onclick="ShiftCalender('2024','3','week');">Week</button>
                    <button class="btn btn-outline-info mx-1" onclick="ShiftCalender('2024','3','month');">Month</button>
                </div>
            </div>

            <div id="shiftTable"></div>

        </div>


    </div>
</div>
    <footer style=" position:fixed;bottom:0; width:100%;">
        <div style="padding-right: 40px;">
            <a href="" style="color: white;">Terms Of Conditions</a> |
            <a href="" style="color: white;">Privacy Policy</a>
        </div>
    </footer>

<script>
    function showcalender(){
        document.getElementById("month-input").showPicker();
    }
    
    

    var year = 2024;
    var month = 3;
    const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
  
    ShiftCalender(year,month,'day');
    

    function ShiftCalender(year,month,shifttype){
         

        $.ajax({
            url: '/AdminProviders/loadshift',
            type: 'POST',
            data: { year1: year, month1: month, shifttype: shifttype },
            success: function (data) {
                $('#shiftTable').html(data);
                $('#datediv').text(monthNames[month - 1] + ',' + year);
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

    function monthchange() {
        var selectmonth = document.getElementById("month-input").value;
        year = parseInt(selectmonth.split("-")[0]);
        month = parseInt(selectmonth.split("-")[1]);
        ShiftCalender(year,month,'month');
    }

    function nextCalendar(){
        if(month<12){
            month=month+1;
        }else{
            month = 1;
            year=year+1;
        }
        ShiftCalender(year,month,'month');
    }

    function previousCalendar(){
        if(month>1){
            month = month-1;
        }else{
            month = 12;
            year = year-1;
        }
        ShiftCalender(year,month,'month');
    }
    
</script>
 @section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
     }
 }
