@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2> Scheduling  </h2>
            <button class="btn btn-info text-white"><i class="bi bi-chevron-left"></i>Back</button>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4">

            <div class="d-flex justify-content-between mt-3">
                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" onchange="fetchRegion()" id="region">
                        <option selected>All Region</option>
                        @*@{
                        foreach (var a in Model.regions)
                        {
                        <option value="@a.Regionid">@a.Name</option>
                        }
                        }*@
                    </select>
                </div>
                <div>
                    <button class="btn btn-info text-white mx-1">Providers On Call</button>
                    <button class="btn btn-info text-white mx-1">Shifts For Review</button>
                    <button class="btn btn-info text-white mx-1">Add new Shift</button>
                </div>
            </div>

            <div class="m-2">
                date here
            </div>

            <div class="m-2 d-flex justify-content-end">
                <div class="d-flex">
                    <div class="rounded-3 mx-1" style="height:25px;width:50px;background-color:pink"></div> 
                    <div class="mx-1">Pendig Shifts</div>
                    <div class="rounded-3 mx-1" style="height:25px;width:50px;background-color:lightgreen"></div>
                    <div class="mx-1">Approved Shifts</div>
                </div>
            </div>

            <div class="m-2 d-flex justify-content-between">
                <div class="d-flex">
                    <div class="mx-2 bg-info rounded-5 d-flex justify-content-center" style="height:25px;width:25px;"><i class="bi bi-chevron-left"></i></div>
                    <div class="mx-2"><i class="bi bi-calendar-week"></i></div>
                    <div class="mx-2 bg-info rounded-5 d-flex justify-content-center" style="height:25px;width:25px;"><i class="bi bi-chevron-right"></i></div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-info mx-1">Day</button>
                    <button class="btn btn-outline-info mx-1">Week</button>
                    <button class="btn btn-outline-info mx-1">Month</button>
                </div>
            </div>

            <div id="shiftTable"></div>

        </div>


    </div>
</div>
    <footer style=" position:fixed;bottom:0; width:100%;">
        <div style="padding-right: 40px;">
            <a href="" style="color: white;">Terms Of Conditions</a> |
            <a href="" style="color: white;">Privacy Policy</a>
        </div>
    </footer>

<script>

    ShiftCalender();

    function ShiftCalender(){
        $.ajax({
            url: '/AdminProviders/loadshift',
            type: 'POST',
            success: function (data) {
                $('#shiftTable').html(data);
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }
    
</script>
 @section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
     }
 }
