@{
    ViewData["Title"] = "Patient dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestCountByStatus
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


    <div class="login bgcolor " id="main">
        <Partial name="_Notification" />

        <Partial name="_header">

        <ul class="nav nav-underline" style="margin-left:40px; margin-top:5px">
            <li class="nav-item mx-2">
                <a class="nav-link active" data-bs-toggle="pill" href="#dashboard">Dashboard</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#provider_location">Provider Location</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#myprofile">My Profile</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#provider">Providers</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#partner">Partners</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#access">Access</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link " data-bs-toggle="pill" href="#records">Records</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active mt-3 position-absolute w-100 bgcolor1" id="dashboard">
                <Partial name="_dashboard" />
            </div>

            <div class="tab-pane container mt-3" id="provider_location">
                1
            </div>

            <div class="tab-pane container mt-3" id="myprofile">
                2
            </div>

            <div class="tab-pane container mt-3" id="provider">
                3
            </div>

            <div class="tab-pane container mt-3" id="partner">
            </div>

            <div class="tab-pane container mt-3" id="access">
            </div>

            <div class="tab-pane container mt-3" id="records">
            </div>

        </div>

    </div>
    <div id="partialContainer"></div>
    <footer style="position:fixed;bottom:0; width:100%;">
        <div style="padding-right: 40px;">
            <a href="" style="color: white;">Terms Of Conditions</a> |
            <a href="" style="color: white;">Privacy Policy</a>
        </div>
    </footer>


@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
}