@{
    ViewData["Title"] = "Admin dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestCountByStatus
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<Partial name="_Notification" />
<Partial name="_header">

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><p class="m-2 pt-2 d-block d-md-none">Welcome <strong>@HttpContextAccessor.HttpContext.Session.GetString("username")</strong></p></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <ul class="nav nav-underline mt-2 mx-2 d-grid d-md-none shadow-sm" id="mydashboard">
                <li class="nav-item mx-2">
                    <a class="nav-link" data-bs-toggle="pill" href="#dashboard">Dashboard</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link " data-bs-toggle="pill" href="#providerlocation">Provider Location</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link " data-bs-toggle="pill" href="#myprofile">My Profile</a>
                </li>
                <li class="nav-item mx-2 dropdown1">
                    <a class="nav-link" data-bs-toggle="pill" href="#provider" id="provideractive">Providers</a>
                    <div class="dropdown-content1">
                        <a onclick="GetProvidersView({actionType : 'provider'})">Provider</a>
                        <a onclick="GetProvidersView({actionType : 'scheduling'})">Scheduling</a>
                        <a onclick="GetProvidersView({actionType : 'invoicing'})">Invoicing</a>
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link " data-bs-toggle="pill" href="#partner">Partners</a>
                </li>
                <li class="nav-item mx-2 dropdown1">
                    <a class="nav-link " data-bs-toggle="pill" href="#access">Access</a>
                    <div class="dropdown-content1">
                        <a onclick="GetAccessView({actionType : 'accountAccess'})">Account Access</a>
                        <a onclick="GetAccessView({actionType : 'createAdmin'})">Create Admin</a>
                    </div>
                </li>
                <li class="nav-item mx-2 dropdown1">
                    <a class="nav-link " data-bs-toggle="pill" id="recordsactive" href="#records">Records</a>
                    <div class="dropdown-content1">
                        <a onclick="GetRecordsView({action : 'SearchRecords'})">Search Records</a>
                        <a onclick="GetRecordsView({action : 'EmailLogs'})">Email Logs</a>
                        <a onclick="GetRecordsView({action: 'SMSLogs'})">SMS Logs</a>
                        <a onclick="GetRecordsView({action : 'PatientHistory'})">Patient Records</a>
                        <a onclick="GetRecordsView({action : 'BlockedHistory'})">Blocked History</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="collapse navbar-collapse d-md-block" id="navbarSupportedContent">
    <p class="m-2 pt-2 d-block d-md-none">Welcome <strong>@HttpContextAccessor.HttpContext.Session.GetString("username")</strong></p>
    <div class="d-md-flex justify-content-between">
    <ul class="nav nav-underline mt-2 mx-2 d-grid d-md-flex shadow-sm" id="mydashboard">
        <li class="nav-item mx-2">
            <a class="nav-link" data-bs-toggle="pill" href="#dashboard">Dashboard</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#providerlocation">Provider Location</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#myprofile">My Profile</a>
        </li>
        <li class="nav-item mx-2 dropdown1">
            <a class="nav-link" data-bs-toggle="pill" href="#provider" id="provideractive">Providers</a>
            <div class="dropdown-content1">
                <a onclick="GetProvidersView({actionType : 'provider'})">Provider</a>
                <a onclick="GetProvidersView({actionType : 'scheduling'})">Scheduling</a>
                <a onclick="GetProvidersView({actionType : 'invoicing'})">Invoicing</a>
            </div>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link " data-bs-toggle="pill" href="#partner">Partners</a>
        </li>
        <li class="nav-item mx-2 dropdown1">
            <a class="nav-link " data-bs-toggle="pill" href="#access">Access</a>
            <div class="dropdown-content1">
                <a onclick="GetAccessView({actionType : 'accountAccess'})">Account Access</a>
                <a onclick="GetAccessView({actionType : 'createAdmin'})">Create Admin</a>
            </div>
        </li>
        <li class="nav-item mx-2 dropdown1">
            <a class="nav-link " data-bs-toggle="pill" id="recordsactive" href="#records">Records</a>
            <div class="dropdown-content1">
                        <a onclick="GetRecordsView({action : 'SearchRecords'})">Search Records</a>
                        <a onclick="GetRecordsView({action : 'EmailLogs'})">Email Logs</a>
                        <a onclick="GetRecordsView({action: 'SMSLogs'})">SMS Logs</a>
                        <a onclick="GetRecordsView({action : 'PatientHistory'})">Patient Records</a>
                        <a onclick="GetRecordsView({action : 'BlockedHistory'})">Blocked History</a>
            </div>
        </li>
    </ul>
    <div>
        <button class="btn btn-outline-info m-2 d-none" hidden><i class="bi bi-bell-fill"></i></button>
    </div>
    </div>
    </div>
    <div id="mainDashContent" class="bgcolor1 px-3"></div>

    <div id="partialContainer"></div>
        
    <div id="notification" class="notification d-none"></div>

    <footer style="position:fixed;bottom:0; width:100%;">
        <div style="padding-right: 40px;"> 
            <a href="" style="color: white;">Terms Of Conditions</a> |
            <a href="" style="color: white;">Privacy Policy</a>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/AdminDashboard.js" asp-append-version="true"></script>
<script src="/js/AdminRecords.js" asp-append-version="true"></script>
<script src="/js/AdminProviders.js" asp-append-version="true"></script>
<script src="/js/AdminAccess.js" asp-append-version="true"></script>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
}