
<div class="d-flex justify-content-center align-items-center" style="height:100vh; font-size:larger;background-color: #e7e7e7">
    <div class="col-8">
        To provide best medical service, we cannot determine the cost right away. If you agree to our 
        service , so we will provide care and follow-up untill all care is completed. So with this points . If you 
        like us to provide care to you click on "Agree" and we we'll get started immediately, if you do not agree simply click "Cancel"

        <div class="mt-5 d-flex justify-content-center">
            <button class="btn btn-success m-3 p-3" style="font-size:large">Agree</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger m-3 p-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size:large">
                Cancel
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#0dcaf0">
                            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:white">Cancel Confirmation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4>Test Test ,</h4>
                            <textarea rows="5" cols="60" placeholder="please provide a brief explanation for your cancelation" style="font-size:medium" class="p-1"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" style="color:white">Continue</button>
                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
