#login {
    height: 100%;
    width: 100%;
    display: flex;
}

.main-lpage {
    flex-direction: column;
}



footer {
    background-color: black;
    display: flex;
    justify-content: end;
}


.logout-btn {
    color: #0dcaf0;
    font-size: larger;
    text-decoration: none;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    width: 90px;
}

.dark-btn {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 10px;
    z-index: 2;
}

.dark-btn1 {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    font-weight: 500;
    top: 10px;
    right: 30px;
    border-radius: 10px;
    z-index: 2;
}

.req-logo {
    height: 70px;
    width: 150px;
    top: 10px;
    left: 20px;
    bottom: 10px;
}

.sr-btn {
    border: 2px solid #0dcaf0;
}

.sr-btn1 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(119, 88, 255);
    border-radius: 5px;
    color: rgb(119, 88, 255);
    background-color: rgb(232, 228, 253);
    font-weight: 500;
    font-size: larger;
}

.sr-btn2 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(21, 207, 254);
    border-radius: 5px;
    color: rgb(26, 208, 253);
    background-color: rgb(198, 241, 252);
    font-weight: 500;
    font-size: larger;
}

.sr-btn3 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(1, 120, 1);
    border-radius: 5px;
    color: rgb(0, 124, 0);
    background-color: rgb(170, 241, 170);
    font-weight: 500;
    font-size: larger;
}

.sr-btn4 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(185, 37, 84);
    border-radius: 5px;
    color: rgb(185, 37, 84);
    background-color: rgb(254, 222, 232);
    font-weight: 500;
    font-size: larger;
}

.bgcolor1 {
    background-color: #e3e3e3;
}

    .bgcolor1.dark-mode {
        background-color: #212529;
    }

.bgcolor {
    background-color: white;
}

    .bgcolor.dark-mode {
        background-color: #000000bd;
        color: white;
    }

.content {
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.iti {
    position: relative;
    display: block;
}

.bimgall {
    background-image: url("/images/11116016_415.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255,0.900);
    background-blend-mode: overlay;
}

@media screen and (max-width: 993px) {
    .lb-img {
        display: none;
    }

    .bimg {
        background-image: url("/images/11116016_415.jpg");
        background-size: cover;
        background-position: center center;
        background-color: rgba(255, 255, 255,0.900);
        background-blend-mode: overlay;
    }

    footer {
        background-color: black;
        display: flex;
        justify-content: center;
    }

    /*.back-btn {
        border: 1px solid #0dcaf0;
        border-radius: 5px;
        width: 90px;
        position: relative;
    }*/

    .content {
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
        padding-right: 50px;
        padding-left: 50px;
    }
}

input,
textarea {
    &:focus

{
    box-shadow: none !important;
    border-color: #0dcaf0 !important;
    +label

{
    color: #0dcaf0 !important;
    transition: ease 0.3s;
}

}
}



.nav-underline .nav-item .nav-link.active {
    color: #0dcaf0;
    font-size: large;
}

.nav-underline .nav-item .nav-link {
    color: black;
    font-weight: 400;
    font-size: large;
}

.custom-check :checked {
    transform: scale(1.5);
}

.custom-check {
    transform: scale(1.5);
}
input[type="checkbox"]:checked {
    accent-color: #0dcaf0;
}

.colored-dot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: black;
}

.admin-btn {
    width: 14%;
}

@media screen and (max-width: 1146px) {
    .admin-btn {
        width: 25%;
    }
}


#mainDashContent .nav .ad-btn1 .nav-link.active {
    color: white;
    background-color: #18187a;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn2 .nav-link.active {
    color: white;
    background-color: #0dcaf0;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn3 .nav-link.active {
    color: white;
    background-color: #04af2d;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn4 .nav-link.active {
    color: white;
    background-color: #ed2695;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn5 .nav-link.active {
    color: white;
    background-color: #009dff;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn6 .nav-link.active {
    color: white;
    background-color: #b14eff;
    border-radius: 5px;
}


.ad-btn {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-weight: 400;
    font-size: medium;
}

#mainDashContent .nav .ad-btn1 .nav-link {
    border: 1px solid #18187a;
    color: #18187a;
    background-color: #e4dfff;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn2 .nav-link {
    border: 1px solid #0dcaf0;
    color: #0dcaf0;
    background-color: #c3f3ff;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn3 .nav-link {
    border: 1px solid #04af2d;
    color: #04af2d;
    background-color: #e4fdeb;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn4 .nav-link {
    border: 1px solid #ed2695;
    color: #ed2695;
    background-color: #ffc2ee9e;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn5 .nav-link {
    border: 1px solid #009dff;
    color: #009dff;
    background-color: #d6efff;
    border-radius: 5px;
}

#mainDashContent .nav .ad-btn6 .nav-link {
    border: 1px solid #b14eff;
    color: #b14eff;
    background-color: #b38eff1c;
    border-radius: 5px;
}

.table tbody tr td {
    color: white;
    padding: 20px;

}

#shifttable tr td {
    border: 1px solid gray;
    height:60px;
    width:10%;
}
#shifttable tr td div{
    border-bottom: 1px solid gray;
    height:90px;
}

    #shifttable tr td div button{
        font-size:13px;
        font-weight:400;
    }

#dayshiftheader tr th {
    border: 1px solid white;
    color: white;
    font-weight: 600;
    background-color: #424242f2;
    border-bottom-color: gray;
    font-size: 12px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    width:18px;
}

#weekheader tr th {
    border: 1px solid white;
    color: white;
    font-weight: 600;
    background-color: #424242f2;
    border-bottom-color: gray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 18px;
}

#shiftforreviewHeader tr th {
    font-size:16px;
    font-weight: 600;
    background-color: #dedede;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 18px;
}

#shiftforreviewHeader tbody tr td {
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 18px;
}

#dayshiftbody tr td {
    border: 1px solid gray;
    height: 30px;
    font-size: 10px;
}

#searchrecords .row div{
    width:24%;
    position : relative;
}

#searchrecordstable table tr th {
    font-size: 16px;
    background-color: #dedede;
    padding: 10px;
}

#searchrecordstable table tr td {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.newtable tr td {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:5px;
    border-bottom: 1px solid white;
}
.newtable tr th {
    font-size: 17px;
    width:10%;
    border-bottom: 1px solid white;
}

#accessTable tr td {
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid gray;
}


.actions {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: medium;
}

#patientdash tbody tr td {
    color: black;
}

.accordion-button.collapsed::after {
    content: none; /* Hide the arrow when collapsed */
}

.accordion-item:not(.show) .accordion-header button {
    background-color: #d7ffffde;
}

.accordion-button::after {
    background-image: initial;
    width: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content1 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown-content1 a:hover {
    background-color: #f1f1f1;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

    .upload-btn-wrapper input {
        position: absolute;
        opacity: 0;
    }

.notification {
    position: fixed;
    bottom: 50px;
    right: -70px;
    transform: translateX(-50%);
    background-color: #0dcaf0;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

    .notification .close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }
